<%= @comments.each do |comment| %>
  <div class="article-comment">
    <p>
      <%= comment[:body] %>
    </p>
    <p>
      Posted by <%= get_username(comment[:user_id]) %> <%= time_ago_in_words(comment[:created_at]) %> ago
    </p>
  </div>
<% end %>
