<p id="notice"><%= notice %></p>

<h1>About</h1>
<div id="about">
  <span id="author-details">
    <p id="author-name">Gabriel Haines</p>
    <p id="author-number">S3502921</p>
  </span>
  <span id="author-details">
    <p id="author-name">Rob Laine-Wyllie</p>
    <p id="author-number">S3433096</p>
  </span>
  <span id="heroku-details">
    <%= link_to 'Deployment', 'https://nameless-harbor-87412.herokuapp.com/' %>
  </span>
  <span id="bitbucket-details">
    <%= link_to 'Bitbucket', 'https://bitbucket.org/RobLW/rad18_assign_2_group_3433096_3502921/src/master/' %>
  </span>
</div>

<%= link_to 'Home', root_path %>
